- if !@waitingListPlayers.empty?
  %p Waiting List:
  %table{:class => "table table-striped"}
    %thead
      %tr
        %th
          \#
        %th
          Player
    - cnt = 0
    - @waitingListPlayers.each do |player, signupTime|
      %tr
        %td
          - cnt += 1
          #{cnt}
        %td<
          #{player.firstName} #{player.lastName}
          %small
            %i (#{signupTime.localtime.strftime("%b %e %Y, %l:%M.%S %p")})
